@{
    ViewBag.Subtitulo = "Página Principal";
}
<partial name="_MensagemPartial" />
<main>
    <section class="" style="margin-top:10%;">
        <h3 class="text-center">Bem-vindo à nossa plataforma de gerenciamento de aluguel de motos e entregadores!</h3>
        <div class="mt-3 p-2">

        <p>Estamos empolgados em tê-lo(a) conosco! Na nossa plataforma, você terá acesso a uma ferramenta completa para administrar aluguéis de motos e coordenar entregas de forma eficiente e segura.</p>


        <p>Com a nossa aplicação, você pode registrar-se como entregador e desfrutar de uma experiência simplificada de aluguel de motos. Uma vez registrado e com uma locação ativa, você terá a oportunidade de realizar entregas de pedidos disponíveis na plataforma, aumentando sua renda e flexibilidade.</p>

        <p>Estamos comprometidos em fornecer uma experiência de usuário excepcional, com funcionalidades intuitivas. Não hesite em explorar todas as nossas ferramentas e recursos disponíveis para otimizar sua experiência conosco.</p>

        <p>Seja bem-vindo(a) à nossa comunidade de aluguel de motos e entregadores. Estamos aqui para ajudá-lo(a) a alcançar seus objetivos de forma eficiente e segura. Vamos começar a viajar e entregar juntos!</p>
        </div>
    </section>
</main>

