@{
    ViewData["Title"] = "Política de Privacidade";
}
<div class="mt-5">
    <h2>@ViewData["Title"]</h2>

    <p>Nossa política de privacidade é simples:</p>

    <h4 class="mt-5">Coleta de Informações</h4>

    <p>Coletamos informações pessoais apenas quando você as fornece diretamente, como ao realizar um cadastro em nosso site.</p>

    <h4>Uso de Informações</h4>

    <p>Usamos suas informações pessoais para processar o registtro e aluguel de nossos veículos. Não compartilhamos suas informações com terceiros, exceto para fins de processamento de pedidos.</p>

    <h4>Segurança</h4>

    <p>Suas informações são protegidas com segurança e não são compartilhadas com terceiros sem sua permissão.</p>

    <h4>Cookies</h4>

    <p>Utilizamos cookies para melhorar a experiência do usuário em nosso site. Você pode desativar os cookies em seu navegador, se preferir.</p>

    <h4>Alterações na Política de Privacidade</h4>

    <p>Podemos atualizar nossa política de privacidade periodicamente. Quaisquer alterações serão refletidas nesta página.</p>

    <h4>Contato</h4>

    <p>Se tiver dúvidas sobre nossa política de privacidade, entre em contato conosco.</p>

</div>
