@using SM.Domain.Enum
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Schedule Motorbikes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-green-900">
            <div class="container">
                <a class="navbar-brand" href="/" style="color:aliceblue">
                    <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" viewBox="0 0 256 256"><g fill="currentColor"><path d="M248 160a32 32 0 1 1-32-32a32 32 0 0 1 32 32M40 128a32 32 0 1 0 32 32a32 32 0 0 0-32-32" opacity="0.2" /><path d="M216 120a41 41 0 0 0-6.6.55l-5.82-15.14A55.6 55.6 0 0 1 216 104a8 8 0 0 0 0-16h-19.12l-13.41-34.87A8 8 0 0 0 176 48h-32a8 8 0 0 0 0 16h26.51l9.23 24H152c-18.5 0-33.5 4.31-43.37 12.46a16 16 0 0 1-16.76 2.07c-10.58-4.81-60.74-25.2-65.16-26.93L21 73.36A17.7 17.7 0 0 0 16 72a8 8 0 0 0-2.87 15.46c.46.18 47.19 18.3 72.13 29.63a32.15 32.15 0 0 0 33.56-4.29c4.86-4 14.57-8.8 33.19-8.8h18.82a71.74 71.74 0 0 0-24.17 36.59A15.86 15.86 0 0 1 131.32 152H79.2a40 40 0 1 0 0 16h52.12a31.91 31.91 0 0 0 30.74-23.1a56 56 0 0 1 26.59-33.72l5.82 15.13A40 40 0 1 0 216 120M40 168h22.62a24 24 0 1 1 0-16H40a8 8 0 0 0 0 16m176 16a24 24 0 0 1-15.58-42.23l8.11 21.1a8 8 0 1 0 14.94-5.74L215.35 136h.65a24 24 0 0 1 0 48" /></g></svg>
                    Schedule Motorbikes
                </a>
                @if (Context.User.Identity.IsAuthenticated && Context.User.IsInRole(ERole.Administrator.ToString()))
                {
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarMain">
                        <div class="navbar-nav ms-auto text-light">
                            <a class="nav-link" asp-controller="Home" asp-action="Principal" asp-link-class="link-ativo">Principal</a>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                                    <b>Cadastros</b>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" asp-controller="Usuario" asp-action="Index" asp-link-class="link-ativo">Usuários</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Paciente" asp-action="Index" asp-link-class="link-ativo">Paciente</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Profissional" asp-action="Index" asp-link-class="link-ativo">Profissional</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Menu" asp-action="Index" asp-link-class="link-ativo">Menu</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Empresa" asp-action="Index" asp-link-class="link-ativo">Empresa</a>
                                    </li>
                                </ul>
                            </li>
                            <a class="nav-link" asp-controller="Home" asp-action="Dashboad" asp-link-class="link-ativo">Dashboard</a>
                        </div>
                    </div>
                    <div class="loginLogout">
                        <partial name="_LoginLogoutLinkPartial" />
                    </div>
                }
                else
                @if (Context.User.Identity.IsAuthenticated && !Context.User.IsInRole(ERole.Administrator.ToString()))
                {
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarMain">
                        <div class="navbar-nav ms-auto text-light">
                            <a class="nav-link" asp-controller="Home" asp-action="Principal" asp-link-class="link-ativo">Principal</a>
                            <a class="nav-link" asp-controller="Home" asp-action="Dashboad" asp-link-class="link-ativo">Dashboard</a>
                        </div>
                    </div>
                    <div class="loginLogout">
                        <partial name="_LoginLogoutLinkPartial" />
                    </div>
                }
                else
                {
                    <div class="loginLogout">
                        <partial name="_LoginLogoutLinkPartial" />
                    </div>
                }

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="fixed-bottom border-top footer text-muted bg-dark p-3">
        <div class="container">
            &copy; 2024 - Schedule Motorbikes - <a asp-area="" asp-controller="Home" asp-action="Privacy">Política de Privacidade</a>
        </div>
    </footer>
    <script src="./lib/jquery/dist/jquery.min.js"></script>
    <script src="./lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    
</body>
</html>
