@{
    @ViewData["Title"];
}
<partial name="_MensagemPartial" />
<main>
    <section class="d-flex justify-content-center align-items-center" style="margin-top:10%;">
        Tela para pagamento online
    </section>
    <a asp-action="Logged" asp-controller="Home" class="btn btn-success">Registrar Pagamento</a>

</main>

