@{
    @ViewData["Title"];
}
<partial name="_MensagemPartial" />
<main>
    <section class="d-flex justify-content-center align-items-center" style="margin-top:10%;">
        Aqui Account
    </section>
</main>

