@{
    ViewBag.Subtitulo = "Login";
}
<partial name="_MensagemPartial" />
<main>
    <section class="d-flex justify-content-center align-items-center" style="margin-top:10%;">
        Tela de Login
    </section>
</main>

